@import "theme";

*, ::after, ::before {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

body {
	margin: 0;
	display: flex;
	min-height: 100dvh;
}

#app {
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 100%;
}

h1 {
	font-size: 3.2em;
}

a {
	color: inherit;
	transition: color 100ms ease-out;

	&:hover {
		color: var(--primary-color);
	}

	@media (prefers-reduced-motion) {
		transition: none;
	}
}
